{% extends '::admin.html.twig' %}
{% block title "Dashboard" %}

{% block body %}
<div class="row-fluid">
	<div class="span12">
		<div class="span4 actions_dashboard">
			<div class="widget-header bleufonce">
				<h5>{% trans %}Contents{% endtrans %}</h5>
				<a href="{{ path('contents') }}">
					<span class="li_note">&nbsp;</span>
				</a>
			</div>
			<div class="stats">
				<div class="span6 first">
					<span class="nb" id="nb_content"></span><br />
					{% trans %}contents{% endtrans %}
				</div>
				<div class="span6">
					<span class="nb" id="nb_categories"></span><br />
					{% trans %}categories{% endtrans %}
				</div>
			</div>
		</div>
		<div class="span4 actions_dashboard">
			<div class="widget-header bleuclair">
				<h5>{% trans %}Messages{% endtrans %}</h5>
				<a href="{{ path('contacts_list') }}">
					<span class="li_stack">&nbsp;</span>
				</a>
			</div>
			<div class="stats">
				<div class="span6 first">
					<span class="nb">3</span><br />
					{% trans %}unread{% endtrans %}
				</div>
				<div class="span6">
					<span class="nb">4</span><br>
					{% trans %}messages{% endtrans %}
				</div>	
			</div>
		</div>
		<div class="span4 actions_dashboard">
			<div class="widget-header rouge">
				<h5>{% trans %}Medias{% endtrans %}</h5>
				<a href="{{ path('medias') }}">
					<span class="li_camera">&nbsp;</span>
				</a>
			</div>
			<div class="stats">
				<div class="span6 first">
					<span class="nb">10</span><br>
					{% trans %}images{% endtrans %}
				</div>
				<div class="span6">
					<span class="nb">20</span><br>
					{% trans %}medias{% endtrans %}
				</div>		
			</div>
		</div>
		
		{#<div class="span3 actions_dashboard">
			<div class="widget-header  vert">
				<h5>{% trans %}Langues{% endtrans %}</h5>
				<a href="{{ path('languages') }}">
					<span class="li_settings">&nbsp;</span>
				</a>
			</div>
			<div class="stats">
				<div class="span6 first"></div>
				<div class="span6"></div>
			</div>
		</div>#}
	</div>
</div>

<div class="h20 clearfix"></div>
<div class="row-fluid">
	<div class="span12">
		<!--<div class="span3 actions_dashboard">
			<h5 class="widget-header">{% trans %}Visites aujourd'hui{% endtrans %}</h5>
			<input type="text" class="knob" data-readOnly="true" data-fgColor="#555" data-thickness=".2" data-linecap="round" data-width="128" data-height="128">
			<p class="legend"></p>
		</div>-->
		<div class="span4 actions_dashboard">
			{% render "CMSDashboardBundle:Agenda:index" with {'year':year, 'month': month } %}
		</div>
	</div>
</div>

{% endblock body %}

{% block javascripts %}
<script src="http://localhost:3232/socket.io/socket.io.js"></script>
<script>
$(function() { 
var last_li = $('.nav-full-height ul li').last().html();
var socket = io.connect('http://localhost:3232');
socket.on('wdgt_content', function (data) {
	console.log(data);
    $('#nb_content').html(data.nb_contents);
    $('#nb_categories').html(data.nb_categories);
    
    $('div.nav-full-height ul li').last().html(last_li);
    $('div.nav-full-height ul li').last().append('<span class="badge badge-important">' + data.nb_contacts + '</span>');
});
})
</script>
{% endblock %}
