{% extends "::admin.html.twig" %}
{% block title %}{% trans %}settings_general{% endtrans %}{% endblock %}
{% block titlesection %}{% trans %}settings_general{% endtrans %}{% endblock %}
{% block body %}
<h1 class="pull-left">{% trans %}settings_general{% endtrans %}</h1>
<div class="h20 clearfix"></div>
<form action="{{ path('settings') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
	{{ form_widget(form) }}
	<button type="submit" class="button btn-main">{% trans %}Validate{% endtrans %} <i class="admin-icon-ok"></i></button>
</form>
{% endblock body %}