<div class="col8">
<form class="form-horizontal" method="post" id="form-contact">
	{{ form_widget(form) }}
	<label class="control-label"></label>
	<input type="reset" class="button btn-cancel" value="Annuler" />
	<input type="submit" class="button btn-main" value="Confirmer" onClick="_gaq.push(['_trackEvent', 'Formulaires', 'Valider', 'Contact']);" />
</form>
</div>
