<div class="row no-margin">
<div class="span6 contact">
<form method="post" id="form-contact" class="form-horizontal">
	
	{{ form_widget(form) }}
	<label class="control-label"></label>
	<input type="reset" class="button btn-cancel" value="Annuler" />
	<input type="submit" class="button btn-main" value="Confirmer" onClick="_gaq.push(['_trackEvent', 'Formulaires', 'Valider', 'Contact']);" />
</form>
</div>
<div class="span6">
	<div id="map">
		<img src="/uploads/2013/may/europe.png" />
		<a href="javascript:" data-toggle="tooltip" title="GEOLAB UMR 6042<br />4 rue Ledru 63057<br />Clermont-Ferrand cedex 1" class="pulse dark" id="clermont"><span></span></a>
		<a href="javascript:" class="pulse dark" id="grenoble" data-toggle="tooltip" title="2 rue de la Papeterie<br />BP 76<br />38402 St-Martin-d'Hères cedex"><span></span></a>
		<a href="javascript:" class="pulse dark" id="berne" data-toggle="tooltip" title="Université de Berne<br />Baltzerstrasse 1+3<br />3012 Berne (Suisse)"><span></span></a>
	</div>
	
</div>
</div>
<script src="http://localhost:3232/socket.io/socket.io.js"></script>
<script type="text/javascript">
$('#form-contact').submit(function(event) {
		event.preventDefault();
		var socket = io.connect('http://localhost:3232');
		var date = new Date();
		var month = date.getMonth()+1;
		var day = date.getDate();
		if(month < 10)
			month = '0' + month;
		if(day < 10)
			day = '0' + day;

		contact = {
			lastname : $('#contact_lastname').val(),
			firstname : $('#contact_firstname').val(),
			email : $('#contact_sender').val(),
			subject: $('#contact_subject').val(),
			message: $('#contact_message').val(),
			created: date.getFullYear() + '-' + month + '-' + day
		};
		console.log(contact);
		socket.emit('contact', contact);
	});
$(document).ready(function() {
	$('#map a').tooltip({html:true});
});
</script>