body.login {
	overflow: hidden;
}

div#filter {
	background:url(../images/teaser_texture.png);
	position: absolute;
	height:2000px;
	width:100%;
	top:0px;
	left:0px;
}

div#login {
	width:515px;
	height:600px;
	margin:15% auto;
	position: relative;
	text-align: center;
}


div#login form {
	width:auto;
	margin: auto;
}

div#login input[type="text"],div#login input[type="password"]  {
	height:33px;
	line-height: 33px;
}

div#fond_input {
	display: inline-block;
	padding: 10px;
	background: #e1e3ea;
	border-radius: 4px;
	border-bottom: 1px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
	position: relative;
	z-index:2;
}

.btn-login {
	border:none;
	background: #ff6600;
	color:#fff;
	border-radius: 0px 4px 4px 0;
	height:29px;
	line-height: 29px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
	margin-left:-5px;
	position: relative;
	z-index:1;
}

.sep1 {
  margin: 0 0 10px 0;
}

.sep2 {
  margin: 0 0 20px 0;
}

.sep3 {
  margin: 0 0 30px 0;
}


#stats {
  height:300px;
}


.list-widget {
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 15px;
  position: relative;
  border-top: 1px solid #EEE;
  background: white;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
}

.list-widget ul li {
  line-height:40px;
  border-bottom: 1px solid #ccc;
}

.list-widget ul li:last-child {
  border-bottom: none;
}

.list-widget ul li a {
  color: #777;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  cursor: pointer;
}

.list-widget ul li a:hover {
  color:#333;
}

div.publish_field {
	width:100%;
	clear:both;
	float:left;
}

div.default_image {
	float: left;
	width:169px;
	height:169px;
	text-align: center;
}

div.default_image img {
	max-width: 169px;
	max-height: 169px;
}

div.publish_field label,
div.publish_field input {
	display: block;
	float: left;
	margin-right:5px;
	width:auto !important;
}

.flag-element{position: relative;}
.flag{margin-left: 10px;height:23px;}
.flag-ok{position: absolute;right: -2px;bottom: -6px;height: 12px;}
.inline_elements input, .inline_elements label{	float:left; padding:0 2px; }

.left-1 {
	padding-left:5px;
}

.left-3 {
	padding-left:15px;
}

.left-4 {
	padding-left: 30px;
}


.default.message {
	width:50%;
	border:1px solid #ccc;
	border-radius: 4px;
	padding:30px 0;
	text-align: center;
}

.thumbnail.hover {
	border-color:#08c;
	-webkit-box-shadow:0 1px 4px rgba(0,105,214,0.25);
	-moz-box-shadow:0 1px 4px rgba(0,105,214,0.25);
	box-shadow:0 1px 4px rgba(0,105,214,0.25)
}


.alert-msg {
	background-color: #b94a48;
	-webkit-border-radius: 16px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	display: block;
	padding: 2px 7px;
	font-size: 7.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	position:relative;
	margin: -25px 0 0 12px;
	z-index:1;
}

.published {
	width:65px;
}

.header {
	background-repeat: no-repeat;
	background-image: url("/bundles/cmsadmin/images/bg.gif");
	background-position: center right;
	cursor: pointer;
}

.headerSortUp {
	background-image: url("/bundles/cmsadmin/images/asc.gif");
}

.headerSortDown {
	background-image: url("/bundles/cmsadmin/images/desc.gif");
}
