/** VARIABLES LESS **/

/** COLORS **/
@alizarin: #e84c3d;
@mainColor: #777;
@clearGrey: #f8f7f7;
@blanc: #fff;
@pomegranate: #c0392b;
@midnightblue: #2c3e50;
@emerland: #2ecc71;
@nephritis: #27ae60;
@greyBorder: #e5e5e5;
@vert: #B2D575;


@linkColor: @alizarin;
@linkHover: @pomegranate;
@titleColor: @alizarin;

@bgHeader: @blanc;
@bgBody:   @clearGrey;

/** FONT FAMILIES **/
@fontTitle: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@fontMain: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/** Sizes **/
@sizeText: 12px;
@sizeTitle: 16px;

@sizeTitleBlocSidebar: 14px;
@sizeTitleSidebar:11px;
@sizeTextSidebar:10px;

/** SLIDER **/
@bgSentences: '/bundles/cmsfront/V2/images/bg-slider-sentences.png';