body {
	width:100%;
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:url('/bundles/cmsadmin/images/teaser_texture.png');
}


#container {
	margin:0 auto;
	width:880px;
	position: relative;
	z-index:1;
}

h1 {
	line-height: 24px;
	font-size:20px;
	color:#ff8700;
}

h2 {
	font-size: 16px;
	line-height: 20px;
}

p {
	text-align: justify;;
}

/*********************************
 * MENU 
 *********************************/

#header {
	height:100px;
	background: url('/bundles/cmsfront/images/header.png') no-repeat center top;
	padding:0px 20px;
}

#logo {
	width:225px;
	height:92px;
	float: left;
}

#languages {
	width:auto;
	height:20px;
	margin-top:5px;
	float: right;
	color:#fff;
	font-size:11px;
}

#menu {
	width:auto;
	color:#fff;
	float: right;
	font-size:12px;
}

#menu ul.horizontal {
	padding:0px;
	margin:45px 0 0 0;
	float: right;
}

ul.horizontal > li {
	list-style-type: none;
	display: block;
	float: left;
	width: auto;
	padding-right: 5px;
}

ul.horizontal > li > .dropdown-menu {
	margin:0px;
}

ul.horizontal > li > .dropdown-menu:before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

ul.horizontal > li > .dropdown-menu:after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid transparent;
	content: '';
}

ul.horizontal > li:after {
	content: " | ";
}

ul.horizontal > li:last-child:after {
	content: "";
}


ul.horizontal > li > a {
	color:#fff;
	text-transform: uppercase;
}

ul.horizontal li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

/*********************************
 * CONTENU 
 *********************************/

 #header-content {
 	margin:50px 0 0 0;
 	padding:4px 20px 0 20px;
 	background: url('/bundles/cmsfront/images/content_header.png') no-repeat left top;
 	height:48px;
 }

 #content {
 	margin:0px;
 	padding:10px 20px 10px 40px;
 	background: url('/bundles/cmsfront/images/content_background.png') repeat-y left center;
 	color:#83828b;
 	font-size: 12px;
 	line-height:18px;
 }

 #content-footer {
 	width:100%;
 	height: 32px;
 	margin:0;
 	padding:0 20px 0 40px;
 	background: url('/bundles/cmsfront/images/content_footer.png') no-repeat left top;
 	font-size:11px;
 	margin-top:-1px; 
 }

 div#filter {
	
	position: relative;
	top:0px;
	left:0px;
 }

/*********************************
 * COLONNES 
 *********************************/

[class*="col"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.col1 {
	width: 50px;
}

.col2 {
	width: 120px;
}

.col3 {
	width: 190px;
}
.col4 {
	width: 260px;
}
.col5 {
	width: 330px;
}
.col6 {
	width: 400px;
}
.col7 {
	width: 470px;
}
.col8 {
	width: 540px;
}
.col9 {
	width: 610px;
}
.col10 {
	width: 680px;
}
.col11 {
	width: 750px;
}
.col12 {
	width: 820px;
}